{% extends "admin/base_site.html" %}


 {% block branding %}{% endblock %}



{% block content %}

<body>
<div class="jumbotron text-xs-center" style="width:700px;margin:auto;padding:30px">
  <h1 class="display-3">Sorry, something went wrong!</h1>
    <p class="lead">Maybe <a href="https://www.netdelta.io/#contact">try again</a>. </p>
    <p class="lead"> If your query was about a new account provisioning,
      we will be validating your addresses shortly and following the process as described <a href="https://www.netdelta.io/#contact">here</a>.</p>
  <hr>

</div>
{% endblock content %}